.sobre-mi .avatar{
    border-radius: 7%;
    height: 34vh;
    width: 30vh;
}
.sobre-mi .card{
    border-radius: 20px ;
}
.sobre-mi .tec{
    font-size: 17px;
}
.sobre-mi .fa-comment-alt{
    font-size: 50px;
}
.sobre-mi .fa-star{
    font-size: 50px;
}
.sobre-mi .fa-linkedin-in{
    font-size: 25px;
    color: white;
    border-radius: 21px;
    padding: 5px 6px 5px 6px;
    background-color: #370A6D;
    margin-top: 1px;
}
.sobre-mi .fa-github{
    color: #370A6D;
    font-size: 35px;
    margin-top: 1px;
}
.sobre-mi .cv2{
    color: white;
    background-color: #370A6D;
    border-radius: 25px;
    padding: 8px 27px 8px 27px;
    margin-left: 10px;
}
.sobre-mi .fa-star{
    color: white;
}
.sobre-mi .fa-comment-alt{
    color: white;
}
.sobre-mi .fa-graduation-cap{
    color: black;
}
.sobre-mi .fa-briefcase{
    color: #370A6D;
}
.sobre-mi #cardd{
    background-color: #370A6D;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    margin: -24px;
    margin-right: 5px;
    margin-left: -4px;
}
.sobre-mi #tecolor{
    background-color: #370A6D;
}
.sobre-mi h4{
    font-size: 12px;
}
.sobre-mi h3{
    font-size:18px;
}
.sobre-mi h2{
    font-size: 24px;
}
.sobre-mi h1{
    font-size: 35px;
}
.imgscards{
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: 19vh;
    padding: 5px;
}
.fa-whatsapp{ 
    font-size: 32px;
    color: white;
    padding: 14px 22px 41px 22px;
    background-color: #370A6D;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    left: 90%;
    position: fixed;
}
.fa-graduation-cap{
    font-size: 56px;
}
@media screen and (max-width: 767px){
    #fa-whatsapp{
        padding: 16px 18px 18px 18px;
        border-radius: 50%;
        bottom: 51px;
        left: 77%;
        position: fixed;
    }
}
