.index #srch{
    border-radius: 20px;
    border-color: black;
    background-color: transparent;
    margin-left: 13%;
    margin-top: 4%;
}
.index .form-control{
    width: 75%;
}
.index #mmt{
    border-radius: 20px;
    border-color:transparent;
    background-color: #370A6D;
    color: white;
    padding: 6px 42px 6px 42px;
    text-decoration: none;
}
.fa-whatsapp{ 
    font-size: 32px;
    color: white;
    padding: 14px 22px 41px 22px;
    background-color: #370A6D;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    left: 90%;
    position: fixed;
}
.index{
    margin-bottom: 5%;
}
.avatarindx{
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    margin-top: 6%;
    padding: 10px;
}
@media screen and (max-width: 767px){
    #fa-whatsapp{
        padding: 16px 18px 18px 18px;
        border-radius: 50%;
        bottom: 51px;
        left: 82%;
        position: fixed;
    }
    .avatarindx{
        height: 50vh;
    }
}