.navbar-toggle{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:blue;
    border: 1px solid ;
    border-radius: .25rem;
}
#cvv{
    width: 72%;
}
.li{
    color: #282828;
}
.li:hover{
    color: #282828;
}
#cv{
    color:white;
    background-color: #370A6D;
    text-decoration: none;
    border-radius:12px;
    padding: 2px 12px 3px 12px;
    float: right;
}
#cv:hover{
    background-color: #370A6D;
    color: white;
    text-decoration: none;
}
.nav-ul{
    flex-direction: row;
}
.item{
    color: white;
}
.item:hover{
    color: white;
}
.hamburger{
    background-color: transparent;
    display: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
#nav{
    z-index: 1;
    position: sticky;
    top: 0px;
    width: 100%;
}
@media screen and (max-width: 767px){
    .nav-ul{
        display: none;
        flex-direction: column;
    }
    .nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    #cv{
        float: right;
    }
    #cvv{
        width: 90%;
    }
    #nav{
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 1;
    }
}