.navbar-toggle {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: blue;
    border: 1px solid;
    border-radius: .25rem;
}

#cvv {
    right: -66%;
    position: relative;

}

.li {
    color: #282828;
}

.li:hover {
    color: #282828;
}

#cv {
    color: white;
    background-color: #370A6D;
    text-decoration: none;
    border-radius: 12px;
    padding: 2px 12px 3px 12px;
    float: right;
}

#cv:hover {
    background-color: #370A6D;
    color: white;
    text-decoration: none;
}

.nav-ul {
    flex-direction: row;
}

#nav .item {
    color: white;
}

.item:hover {
    color: white;
}

.hamburger {
    background-color: transparent;
    display: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.myStyle {
    position: relative;
    transition: 1s all ease;
    background-color: black;
}

#nav {
    z-index: 5;
    position: sticky;
    width: 100%;
    transition: 1s all ease;
}
@media screen and (max-width: 1375px) {
    #cvv {
        right: -49%;
        position: relative;
    
    }
}
@media screen and (max-width: 767px) {
    .NavShow {
        display: flex !important;
        flex-direction: column;
    }
    
    .NavHide {
        display: none !important;
    }
    .hamburger {
        display: block;
    }

    #cv {
        float: right;
    }

    #cvv {
        width: 90%;
    }
    .nav-ul{
        padding-left: 16px !important;
    }

    #nav {
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 1;
    }

    .cerrar-Nav {
        top: 0 !important;
    }
    
    .abrir-Nav {
        top: -300px !important;
    }
}

.cerrar-Nav {
    top: 0;
}

.abrir-Nav {
    top: -100px;
}

