.navbar-toggle{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:blue;
    border: 1px solid ;
    border-radius: .25rem;
}
.li{
    color: #282828;
}
.li:hover{
    color: #282828;
}
#cv{
    color:white;
    background-color: #370A6D;
    text-decoration: none;
    border-radius:12px;
    padding: 2px 12px 3px 12px;
    left: 99vh;
    position: relative;
    margin-top: -14px;
}
#cv:hover{
    background-color: #370A6D;
    color: white;
    text-decoration: none;
}
.item{
    color: white;
}
.item:hover{
    color: white;
}
.hamburger{
    background-color: transparent;
    display: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
@media screen and (max-width: 767px){
    .nav-ul{
        display: none;
        flex-direction: column;
    }
    .nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    #cv{
        left: 52%;
        position: absolute;
    }
}