.contacto main{
    margin-top: 4%;
}
.contacto p{
    color: #6A6A6A;
}
.contacto #name{ 
    margin-bottom: -15px;
    border-radius: 20px;
    border-color:transparent;
}
.contacto #email{
    margin-bottom: 10px;
    border-radius: 20px;
    border-color:transparent;
}
.contacto #message{
    margin-bottom: 10px;
    border-radius: 20px;
    border-color:transparent;
}
.contacto #enviar{
    border-radius: 20px;
    border-color:transparent;
    background-color: #370A6D;
    color: white;
    padding: 6px 42px 6px 42px;
}
.fa-whatsapp{ 
    font-size: 32px;
    color: white;
    padding: 14px 22px 41px 22px;
    background-color: #370A6D;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    left: 90%;
    position: fixed;
}
.contacto{
    margin-bottom: 15vh;
}
@media screen and (max-width: 767px){
    .contacto{
        margin-bottom: 18vh;
    }
}