.trabajos {
    font-size: 10px;
}

.verEmpresa {
    background-color: #370A6D;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 6px 16px 6px 16px;
    font-size: 13px;
    float: right;
    position: relative;
}

.verEmpresa:hover {
    background-color: #370A6D;
    text-decoration: none;
    color: white;
}

--- .sobre-mi #coder {
    height: 9vh;
}

.sobre-mi #coderCard {
    height: 26vh;
}

#EstudiosExperiencia .card {
    border-radius: 20px;
    height: auto;
    min-height: 171px;
}

#imgFluida {
    height: 80px;
    margin-left: 15%;
    border-radius: 50%;
    width: 80px;
}

.ButtonRight {
    float: right;
}
@media screen and (max-width: 992px) {
    #imgFluida {
        height: 50px;
        width: 50px;
    }
    #altura-contenido-cards{
        max-height: 194px;
        min-height: 143px;
        overflow: auto;
    }
}

@media screen and (max-width: 767px) {
    #imgFluida {
        width: 100%;
        height: 7vh;
        margin-left: -2px;
    }

    #verEmpresa {
        bottom: 7%;
        right: 17px;
        float: right;
        position: initial;
    }

    #EstudiosExperiencia .card {
        border-radius: 20px;
        height: auto;
    }
}