.trabajos {
    font-size: 10px;
}

.verEmpresa {
    background-color: #370A6D;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 6px 16px 6px 16px;
    font-size: 13px;
}

.verEmpresa:hover {
    background-color: #370A6D;
    text-decoration: none;
    color: white;
}

--- .sobre-mi #coder {
    height: 9vh;
}

.sobre-mi #coderCard {
    height: 26vh;
}

#EstudiosExperiencia .card {
    border-radius: 20px;
    height: auto;
}

#imgFluida {
    max-width: 100%;
    height: 10vh;
    margin-left: 1vh;
    border-radius: 50%;
    width: 77%;
}

.ButtonRight {
    float: right;
}

.verEmpresa {
    bottom: 17px;
    right: 17px;
    position: absolute;
}

@media screen and (max-width: 767px) {
    #imgFluida {
        width: 100%;
        height: 7vh;
        margin-left: -2px;
    }

    #verEmpresa {
        bottom: 7%;
        right: 17px;
        float: right;
        position: initial;
    }

    #EstudiosExperiencia .card {
        border-radius: 20px;
        height: auto;
    }
}