.avatar{
    height: 40vh;
    width: 42vh;
    border-radius: 50%;
    margin-top: 0%;
    padding: 10px;
}
.card{
    border-radius: 20px ;
}
.tec{
    font-size: 17px;
}
.fa-comment-alt{
    font-size: 50px;
}
.fa-star{
    font-size: 50px;
}
.fa-linkedin-in{
    font-size: 35px;
    color: white;
    border-radius: 21px;
    padding: 8px 6px 8px 6px;
    background-color: #370A6D;
    margin-top: 1px;
}
.fa-github{
    color: #370A6D;
    font-size: 35px;
    margin-top: 1px;
}
.cv2{
    color: white;
    background-color: #370A6D;
    border-radius: 25px;
    padding: 8px 27px 8px 27px;
    margin-left: 10px;
}
.cv2:hover{
    color: white;
}
.fa-star{
    color: white;
}
.fa-comment-alt{
    color: white;
}
.fa-graduation-cap{
    color: black;
}
.fa-briefcase{
    color: #370A6D;
}
#cardd{
    background-color: #370A6D;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    margin: -24px;
    margin-right: 5px;
    margin-left: -4px;
}
#tecolor{
    background-color: #370A6D;
}
h4{
    font-size: 12px;
}
h3{
    font-size:18px;
}
h2{
    font-size: 24px;
}
h1{
    font-size: 35px;
}
.imgscards{
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: 19vh;
    padding: 5px;
}
.fa-whatsapp{ 
    font-size: 32px;
    color: white;
    padding: 14px 22px 41px 22px;
    background-color: #370A6D;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    left: 90%;
    position: fixed;
}
.fa-graduation-cap{
    font-size: 56px;
}
.git-li-cv{
    margin-top: 10vh;
}
   #Hola{ color: purple;
    font-size: 18px;
    font-weight: 600;
}
#Sobre-mi{
    margin-top: 55px;
    margin-bottom: 55px;
    scroll-behavior: smooth;
}
#Estudios{
    scroll-behavior: smooth;
}
@media screen and (max-width: 767px){
    .sobre-mi{
        margin-bottom: -64px;
    }
    #Sobre-mi{
        margin-top: 0vh;
    }
    .sobre-mi .avatar{
        height: 43vh;
        width: 43vh;
        margin-bottom: -6%;
    }
}
