.proyectos #p1{
    color: #6A6A6A;
}
.proyectos h2{
    color: white;
    font-size: 15px;
}
.proyectos .card{
    border-radius: 18px;
    height: 470px;
}
.fa-whatsapp{ 
    font-size: 32px;
    color: white;
    padding: 14px 22px 41px 22px;
    background-color: #370A6D;
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
    left: 90%;
    position: fixed;
}
.proyectos{
    margin-bottom: 15vh;
}
@media screen and (max-width: 767px){
    .proyectos{
        margin-bottom: -5vh;
    }    
}