.trabajos{
    font-size: 10px;
}
.verEmpresa{
    background-color: #370A6D;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 6px 16px 6px 16px;
    font-size: 13px;
}
.verEmpresa:hover{
    background-color: #370A6D;
    text-decoration: none;
    color: white;
}
---
.sobre-mi #coder{
    height: 9vh;
}
.sobre-mi #coderCard{
    height: 26vh;
}
.sobre-mi .card{
    border-radius: 20px ;
}
#imgFluida{
    max-width: 100%;
    height: 10vh;
    margin-left: 1vh;
}
.ButtonRight{
    float: right;
}
.verEmpresa{
    float: right;
}
.cardEstudios{
    height: 27vh;
}

@media screen and (max-width: 767px){
    #imgFluida{
        max-width: 9vh;
        height: 9vh;
        margin-left: -1vh;
    }
    #verEmpresa{
        float: right;
    }
}